<!DOCTYPE html>

<h1 class="page-header">Ranking</h1>

<p>Confira a lista dos 20 melhores colocados no ranking geral de pontuações.</p>


<table class="table table-hover table-striped">
	<thead>
		<th>#</th>
		<th>Apelido</th>
		<th>Pontos</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>antonyalkmim</td>
			<td>23</td>
		</tr>
		<tr>
			<td>1</td>
			<td>antonyalkmim</td>
			<td>23</td>
		</tr>
		<tr>
			<td>1</td>
			<td>antonyalkmim</td>
			<td>23</td>
		</tr>
		<tr>
			<td>1</td>
			<td>antonyalkmim</td>
			<td>23</td>
		</tr>
		<tr>
			<td>1</td>
			<td>antonyalkmim</td>
			<td>23</td>
		</tr>
		<tr>
			<td>1</td>
			<td>antonyalkmim</td>
			<td>23</td>
		</tr>
	</tbody>
</table>