<!DOCTYPE html>

<div class="modal fade" id="modalExcluir">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Mensagem de Confirmação</h4>
			</div>
			<div class="modal-body">
				<p>
					Deseja Efetuar a Exclusão?
				</p>
		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button id="btnExcluir" type="button" data-dismiss="modal" class="btn btn-success" id="">Confirmar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	$(document).ready(function(){
		
		$('#btnExcluir').on('click',function(e){	
			var id = $(this).data('numero');
			location.href='/mensagens/remove/' + id;
			e.preventDefault();
		});

	
	});
</script>