<!DOCTYPE html>

<div class="modal fade" id="modalEnviarMensagem">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Caixa de Mensagem</h4>
			</div>
			<div class="modal-body">
				<sub><p id="nickname"></p></sub>
				<br/>
				<p id="conteudo"></p>
			</div>
			<div class="modal-footer">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


